<template>
  <div :class="['card-option', className]">
    <ul>
        <li  role="button" v-for="(button, index) in buttons" :key="index" @click="action(index)">
          <span class="icon">
            <img :src="button.image">
          </span>{{button.title}}
        </li>
    </ul>

    <button ref='openModal' type="button" class="btn-lg btn-blue d-none" data-toggle="modal" data-target="#exampleModal1"><span class="icon"><img src="/assets/box.svg"></span>New
        Card</button>
   <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header position-relative">
            <h5 class="modal-title" id="exampleModalLabel">Warning!!!</h5>
            <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" ref='closeModal'>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>  
          <div class="modal-body">
             Are you sure you want to remove this card?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="deleteCard">Delete Card</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "CardButtons",
  props:[
    'activeCardIndex',
    'className',
    'buttons'
  ],
  data(){
    return {
      openModal:null,
      closeModal:null
    }
  },
  computed:{
    ...mapGetters(['allCards'])
  },
  methods:{
    ...mapActions(['freezeCard', 'removeCard']),
    action(id){
      if (id == 0){
        this.freezeCard(this.activeCardIndex);
        this.updateSlider();
      } else if (id == 4) {
        this.$refs.openModal.click();
        this.updateSlider();
      }
    },
    updateSlider() {
        let replace='';
        for (let i = 0; i < this.allCards.length; i++) {
          const className = this.allCards[i].freeze ? "blue" : "";
          replace += `<div class="item"><div class="front-card ${className}"><div id="card-logo"><img src="/assets/VisaLogo-white.svg"></div><h3 id="main-title">Financial | <span>Elite</span></h3><div id="chip"></div><div class="card-info"><p id="no">${ this.allCards[i].card_number.match(/.{1,4}/g).join(' ')}</p><div class="name-wrapper"><p id="name">${this.allCards[i].name}</p><p id="exp-date"><span>Expiry Date</span>:${this.allCards[i].exp_date} </p></div></div><div id="mastercard"><img src="/assets/VisaLogo.svg"></div></div></div>`;
        }
         window.jQuery('.owl-carousel').trigger('replace.owl.carousel', replace).trigger('refresh.owl.carousel');
    },
    deleteCard(){
        this.removeCard(this.activeCardIndex);
        this.$refs.closeModal.click();
    }
  },
  watch:{
    allCards(){
      this.updateSlider();
    }
  }
}
</script>