<template>
<div class="slider">
  <div class="owl-carousel owl-theme" >
    <div class="item" v-for='card in cards' :key='card.id'>
        <div :class='["front-card", card.freeze ? "blue" : ""]'>
          <div id="card-logo"><img
                  src="/assets/VisaLogo-white.svg">
          </div>
          <h3 id="main-title">Financial | <span>Elite</span>
          </h3>
          <div id="chip"></div>
          <div class="card-info">
                  <p id="no">{{card.card_number.match(/.{1,4}/g).join(' ')}}</p>
              <div class="name-wrapper">
                  <p id="name">{{card.name}}</p>
                  <p id="exp-date"><span>Expiry Date</span>:
                      {{card.exp_date}}
                  </p>
              </div>

          </div>
          <div id="mastercard"><img src="/assets/VisaLogo.svg">
          </div>
      </div>
    </div>
</div>
</div>
</template>

<script>
import { mapGetters } from "vuex"
export default {
  name: "CardSlider",
    computed:{
        ...mapGetters(['allCards'])
    },
  data(){
      return {
          owl:null,
          cards:[],
      }
  },
  beforeMount(){
      this.cards = [...this.allCards];
  },
  watch:{
       allCards: function(newVal) {
          const card = newVal[newVal.length - 1];
        window.jQuery('.owl-carousel')
                    .trigger('add.owl.carousel', [`<div class="item"><div class="front-card"><div id="card-logo"><img src="/assets/VisaLogo-white.svg"></div><h3 id="main-title">Financial | <span>Elite</span></h3><div id="chip"></div><div class="card-info"><p id="no">${ card.card_number.match(/.{1,4}/g).join(' ')}</p><div class="name-wrapper"><p id="name">${card.name}</p><p id="exp-date"><span>Expiry Date</span>:${card.exp_date} </p></div></div><div id="mastercard"><img src="/assets/VisaLogo.svg"></div></div></div>`])
                .trigger('refresh.owl.carousel');
       }
  }
}
</script>