<template>
  <div class="new-card">
    <button type="button" class="btn-lg btn-blue" data-toggle="modal" data-target="#exampleModal"><span class="icon"><img src="/assets/box.svg"></span>New
        Card</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header position-relative">
            <h5 class="modal-title" id="exampleModalLabel">Enter Card</h5>
            <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" ref='closebtn'>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>  
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" v-show="showAlert">
              <strong>Alert!!</strong> Name should not be blank.
            </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Card Owner Name</label>
                <input type="text" v-model="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Card Owner Name">
                <small id="emailHelp" class="form-text text-muted">Enter exact card owner name.</small>
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" @click="submitCard($event)">Add Card</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "NewCard",
  data(){
    return {
      showAlert:false,
      closebtn:null,
      name:'',
    }
  },
  methods:{
    ...mapActions(['addCard']),
    submitCard(e) {
      e.stopPropagation();
      if (this.name !== '') {
        this.showAlert = false;
        this.addCard(this.name);
        this.showModal = false;
        this.$refs.closebtn.click();
      } else {
        this.showAlert = true;
      }
    }
  }
}
</script>