@media (max-width:767px) and (min-width:320px) {
.sidebar-main{
    display: none;
}
.main-content {
    padding: 15px;
    background: #0C365A;
}

.content {
    width: 100%;
    margin: 0px;
}

.balce h6 {
    color: #fff;
    font-weight: 500;
}

.balce p {
    color: #fff;
}

.status {
    padding: 5px 15px;
}

button.btn-lg.btn-blue {color: #23CEFD;background: unset;font-size: 12px;}
.tab-pane {
    padding: 0px;
}

.container {
    padding: 0px;
}

.tabbable-line {
    padding: 30px 0px;
}

.nav-tabs li a {
    color: #fff;
}
.tabset > input:checked + label {
    color: #fff;
}
.tabset > label:hover, .tabset > input:focus + label {
    color: #fff;
}
.tab-panels {
    padding: 0px;
    margin: 20px 0px 0px;
}
.desktop {
    display: none;
}
.mobile {
    display:block;
    margin: 0px;
}
#marzen .col-sm-6:nth-child(2) {
    padding: 0px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    left: 0;
    pointer-events: none;
}

.scroll-to-mobile {
    position: absolute;
    transition: 0.6s all;
    background: #fff;
    border-radius: 11px 11px 0px 0px;
    transform: translate(0px, 170px);
    bottom: 0;
    height: 400px;
    overflow: auto;
}

.scroll-to-mobile.hidden {
    position: absolute;
    height: 100%;
    bottom: unset;
}
.newClass .scroll-to-mobile {
    position: fixed;
    transform: translate(0px, 0px);
    height: 90%;
}
.content .row {
    height: 700px;
    position: relative;
}
body, html {background: #0c365a;}
.scroll-to-mobile .accordion {
    padding: 15px;
}
#scroll {
    position: relative;
    /* z-index: 1; */
}
#marzen .col-sm-6:nth-child(2).newClass {
    pointer-events: unset !important;
}
.mobile-navigation {
    position: fixed;
    display: flex;
    width: 100%;
    background: #fff;
    bottom: 0;
    box-shadow: 0px 2px 9px 3px #85858594;
}

.mobile-navigation .sidebar {
    display: flex;
    padding: 0px 15px;
    background: white;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
}

.mobile-navigation .sidebar li {
    background: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0000007a;
    font-weight: 600;
    font-size: 14px;
}

.mobile-navigation .sidebar li span.icon {
    padding: 0px;
    padding-bottom: 5px;
}
}