@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, ::before, ::after { padding: 0px; margin: 0px; }
body { overflow-x: hidden; font-family: Montserrat, sans-serif; font-weight: 300; }
body, html {width: 100%;height: 100%}
h1 { font-family: Montserrat, sans-serif; font-weight: 300; font-size: 2.5em; }
.sidebar-btn { position: absolute; clip: rect(0px, 0px, 0px, 0px); }
label[for="sidebar-btn"] { position: fixed; left: 15px; top: 15px; z-index: 2; height: 30px; width: 30px; cursor: pointer; background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect style='fill:rgb(255,255,255)' width='15' height='3'/><rect style='fill:rgb(255,255,255)' y='8' width='20' height='3'/><rect style='fill:rgb(255,255,255)' y='16' width='25' height='3'/></svg>"); background-size: contain; }
.sidebar-btn + label, .content { transition: left 0.1s ease 0s; }
.sidebar-btn:checked + label { left: 245px; }
.sidebar-btn:checked ~ .content { left: 302px; }
.sidebar-main { width: 20%; height: 100%; position: fixed; inset: 0px; z-index: 0; background-color: rgb(12, 54, 90); }
.sidebar li { background-color: rgb(12, 54, 90); color: rgb(255, 255, 255); width: auto; font-family: Ubuntu, sans-serif; font-weight: 400; transition-property: all; display: flex; align-items: center; padding: 20px 0px; cursor: pointer; }
.sidebar li:hover { background-color: rgb(12, 54, 90); }
main { height: 100%; display: flex; }
.wrapper-sidebar {padding: 0px;}
.sidebar-content p {font-size: 13px;line-height: 1.5;padding: 15px 0px;color: rgb(255, 255, 255);opacity: 0.3;font-weight: 500;}
.wrapper-sidebar ul.sidebar {list-style: none;padding: 0px 20px;}
.sidebar li .icon { padding-right: 15px; }
.content { width: 80%; margin-left: 20%; }
.main-content { padding: 50px; }
.header-card { display: flex; align-items: center; justify-content: space-between; width: 100%; }
.balce h6 { color: rgb(34, 34, 34); font-weight: 600; font-size: 14px; margin: auto; }
.status { padding: 5px 10px; font-size: 10px; border-radius: 4px; color: rgb(255, 255, 255); margin-right: 15px; }
.green { background: rgb(1, 209, 103); }
.balce p { color: rgb(34, 34, 34); font-weight: 600; font-size: 25px; display: flex; align-items: center; margin: 0px; }
.btn-blue { padding: 10px 15px; border: 0px; background: rgb(50, 91, 175); color: rgb(255, 255, 255); border-radius: 5px; font-size: 15px; font-weight: 500; display: flex; align-items: center; }
.icon { padding-right: 10px; display: flex; }
#exTab1 .tab-content { color: white; background-color: rgb(66, 139, 202); padding: 5px 15px; }
#exTab2 h3 { color: white; background-color: rgb(66, 139, 202); padding: 5px 15px; }
#exTab1 .nav-pills > li > a { border-radius: 0px; }
#exTab3 .nav-pills > li > a { border-radius: 4px 4px 0px 0px; }
#exTab3 .tab-content { color: white; background-color: rgb(66, 139, 202); padding: 5px 15px; }
.nav-tabs li { font-size: 15px; padding-right: 15px; }
.nav-tabs li a { color: rgb(34, 34, 34); opacity: 0.3; text-decoration: none; font-weight: 600 !important; }
.nav-tabs li a.active,.tabset > input:checked + label {opacity: 1;}
ul.nav.nav-tabs { border: 0px; }
.nav-tabs li a:hover { text-decoration: none; }
.tab-panels {margin: 30px 0px;border-radius: 11px;box-shadow: rgb(0 0 0 / 4%) 0px 0px 11px 0px !important;padding: 35px;border-color: rgb(252, 252, 252);}
.front-card {padding: 25px;border-radius: 11px;background: rgb(1, 209, 103);min-height: 210px;max-height: 210px;position: relative;box-shadow: rgb(0 0 0 / 4%) 0px 0px 11px 0px !important;}
.front-card.blue{background: rgb(12, 54, 90);}
h3#main-title { font-size: 20px; font-weight: 600; margin: 40px 0px 0px; }
#no { margin: 15px 0px 0px; }
.name-wrapper { display: flex; }
.name-wrapper p { margin: 15px 0px 0px; padding-right: 20px; font-size: 12px; font-weight: 600; }
div#mastercard, #card-logo { position: absolute; right: 25px; }
#card-logo img { max-width: 100px; }
.slick-slider .slick-disabled { opacity: 0; pointer-events: none; }
.slick-dots { margin: 0px; display: flex; align-items: center; justify-content: center; }
.slick-dots li { width: 7px; background: rgb(1, 209, 103); font-size: 0px; border: 0px; border-radius: 50px; height: 7px; margin: 15px 5px 0px; opacity: 0.2; }
.slick-dots li button { visibility: hidden; }
.slick-dots li.slick-active { background: rgb(1, 209, 103); width: 15px; opacity: 1 !important; }
.card-option {background: rgb(237, 243, 255);padding: 25px;border-radius: 11px;margin: 20px 0px 0px;box-shadow: rgb(0 0 0 / 4%) 0px 0px 11px 0px !important;}
.card-option li { color: rgb(50, 91, 175); text-align: center; display: flex; align-items: center; flex-direction: column; font-size: 13px; font-weight: 600; }
.card-option ul { list-style: none; display: flex; margin: 0px; padding: 0px; }
.card-option li .icon { padding: 0px 0px 10px; }
.accordion-button { font-size: 15px; font-weight: 500; padding: 20px; background: unset; color: rgb(12, 54, 90) !important; border-radius: 11px !important; box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 11px 0px !important; }
.accordion-item { background-color: rgb(255, 255, 255); margin: 0px 0px 20px; border: 1px rgba(0, 0, 0, 0.04); border-radius: 11px !important; box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 11px 0px !important; }
.according-wrapper { display: flex; align-items: center; justify-content: space-between; padding: 10px 0px 0px; }
.acc-img { width: 50px; height: 50px; background: rgba(0, 157, 255, 0.1); display: flex; align-items: center; justify-content: center; border-radius: 50px; }
.acc-content h6 { color: rgb(0, 0, 0); font-size: 12px; font-weight: 600; margin-bottom: 5px; }
.acc-content .time { margin: 0px; color: rgb(170, 170, 170); font-size: 12px; }
.card-recent { color: rgb(50, 91, 175); font-size: 12px; font-weight: 600; margin: 10px 0px 0px; }
.card-recent p { margin: 0px; display: flex; align-items: center; }
.acc-content { padding-left: 15px; }
.front-card {color: #fff;}
.card-recent span.icon { width: 30px; height: 20px; background: rgb(12, 54, 90); display: flex; align-items: center; justify-content: center; border-radius: 12px; padding: 0px; margin-right: 10px; }
.acc-main { display: flex; }
.prise.green { color: rgb(1, 209, 103); background: unset; font-size: 15px; font-weight: 600; }
.view-more { padding: 20px; background: rgba(204, 246, 225, 0.59); border-radius: 11px; margin-top: 10px; box-shadow: white 1px 1px 11px; }
.view-more p { margin: 0px; text-align: center; color: rgb(1, 209, 103); font-weight: 600; font-size: 13px; }
.accordion-body { color: #fff;}
.modal-header::before { content: unset;}
.close-btn { position: absolute; top:10px; right: 10px;}
.logo-section {
    padding: 30px 20px 0px;
}

.modal-open .modal-warning {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-warning {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-warning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 0px 10px;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  margin-right: 15px;
  opacity: 30%;
  color: rgb(34, 34, 34);
  font-size: 14px;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 0%;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

label::after, .tabset > input:checked + label::after {
  background: #23cefd;
  height: 2px;
  width: 100%;
}

.tabset > input:checked + label {
  color: #000000;
}

.tab-panel {
  margin: 25px 0px 0px;
}

.tabset {
  max-width: 65em;
}
.mobile {
    display: none;
}

/* .newClass {position: absolute;bottom: 0;height: 100%;} */

.newClass {
    position: relative;
    left: 0;
}
