<template>
  <div>
                <div class="header-card">
                <div class="available-balance">
                    <div class="balce">
                        <h6>Available balance</h6>
                        <p><span class="status green">SS</span>3,000</p>
                    </div>
                </div>
                <NewCard />
            </div>

            <!-- tab card -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h3>Reports</h3> -->
                    <div class="tabset">
                        <!-- Tab 1 -->
                        <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
                        <label for="tab1">My debit cards</label>
                        <!-- Tab 2 -->
                        <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
                        <label for="tab2">Rauchbier</label>


                        <div class="tab-panels">
                            <section id="marzen" class="tab-panel">
                                <div class="card-pannel">
                                    <div class="row">
                                        <div class="col-sm-6" id="scroll">
                                           <CardSlider :activeCardIndex='activeCardIndex' />
                                            <CardButtons className="desktop" :buttons='buttons' :activeCardIndex='activeCardIndex' />
                                        </div>

                                        <div class="col-sm-6" id="dynamic">
                                            <div class="scroll-to-mobile">
                                                <CardButtons className="mobile" :buttons='buttons'/>
                                               
                                                <div class="accordion" id="accordionExample">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingOne">
                                                            <button class="accordion-button" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#Card-details"
                                                                aria-expanded="true"
                                                                aria-controls="collapseOne">
                                                                <span class="icon"><img
                                                                        src="/assets/card-details.svg">
                                                                </span>Card
                                                                details
                                                            </button>
                                                        </h2>
                                                        <div id="Card-details"
                                                            class="accordion-collapse collapse"
                                                            aria-labelledby="headingOne"
                                                            data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingTwo">
                                                            <button class="accordion-button collapsed"
                                                                type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#Recent" aria-expanded="false"
                                                                aria-controls="Recent">
                                                                <span class="icon"><img
                                                                        src="/assets/recent.svg">
                                                                </span>
                                                                Recent transactions
                                                            </button>
                                                        </h2>
                                                        <div id="Recent" class="accordion-collapse collapse show"
                                                            aria-labelledby="headingTwo"
                                                            data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <div class="according-wrapper">
                                                                    <div class="acc-main">
                                                                        <div class="acc-img">
                                                                            <img
                                                                                src="/assets/file-storage.svg">
                                                                        </div>
                                                                        <div class="acc-content">
                                                                            <h6>Hamleys</h6>
                                                                            <p class="time">20 May 2020</p>
                                                                            <div class="card-recent">
                                                                                <p><span class="icon"><img
                                                                                            src="/assets/business-and-finance.svg"></span>Refund
                                                                                    on debit card
                                                                                </p>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="prise green">+ S$ 150</div>
                                                                </div>
                                                                <hr>
                                                                <div class="according-wrapper">
                                                                    <div class="acc-main">
                                                                        <div class="acc-img">
                                                                            <img
                                                                                src="/assets/file-storage.svg">
                                                                        </div>
                                                                        <div class="acc-content">
                                                                            <h6>Hamleys</h6>
                                                                            <p class="time">20 May 2020</p>
                                                                            <div class="card-recent">
                                                                                <p><span class="icon"><img
                                                                                            src="/assets/business-and-finance.svg"></span>Refund
                                                                                    on debit card
                                                                                </p>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="prise green">+ S$ 150</div>
                                                                </div>
                                                            </div>
                                                            <div class="view-more">
                                                                <p>View all card transactions</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="rauchbier" class="tab-panel">
                            </section>

                        </div>

                    </div>


                </div>
            </div>
        </div>
  </div>
</template>

<script>
import CardButtons from "./cards/CardButtons.vue"
import CardSlider from "./cards/CardSlider.vue"
import NewCard from "./cards/NewCard.vue";
export default {
  name: "Cards",
  components :{
    CardButtons,
    CardSlider,
    NewCard
},
    data() {
      return {
          buttons:[
              {
                title: "Freeze card",
                image: "/assets/Freeze card.svg"
              },
              {
                title: "Set Spend Limit card",
                image: "/assets/Set spend limit.svg"
              },
              {
                title: "Add to GPay",
                image: "/assets/GPay.svg"
              },
              {
                title: "Replace Card",
                image: "/assets/Replace card.svg"
              },
              {
                title: "Cancel card",
                image: "/assets/Deactivate card.svg"
              },
          ],
          activeCardIndex:0,
          owl:null
      }
  },
  mounted() {
    (function(jQuery){
      "use strict"

        jQuery('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            items:1,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:1
                }
    }
})

          jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > 50) {
                jQuery('#dynamic').addClass('newClass');
            } else {
                jQuery('#dynamic').removeClass('newClass');
            }
        });

        

    })(window.jQuery);      

    this.owl = window.jQuery('.owl-carousel');
    this.owl.on('changed.owl.carousel', (event)=> {
          this.activeCardIndex = event.page.index;
        });
  }
}
</script>