<template>
 <main>
    <Sidebar />
    <div class="content">
        <div class="main-content">

            <router-view></router-view>
        </div>

    </div>
     <div class="mobile-navigation mobile">
            <ul class="sidebar">
                <li><span class="icon"> <img src="/assets/mobile-icon/Home-mobile.svg"></span>Home</li>
                <li><span class="icon"> <img src="/assets/mobile-icon/Card-selected-mobile.svg"></span>Cards</li>
                <li><span class="icon"> <img src="/assets/mobile-icon/Payments-mobile.svg"></span>Payments</li>
                <li><span class="icon"> <img src="/assets/mobile-icon/Credit-mobile.svg"></span>Credit</li>
                <li><span class="icon"> <img src="/assets/mobile-icon/Account-mobile.svg"></span>Settings</li>
            </ul>
        </div>
    </main>
</template>

<script>
import Sidebar from './Sidebar.vue';
export default {
  name: 'Layout',
  components:{
      Sidebar
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
