<template>
  <div class="sidebar-main">
    <div class="wrapper-sidebar">
        <div class="logo-section">
            <a href="javascript:void">
                <img src="/assets/Logo.svg">
            </a>
            <div class="sidebar-content">
                <p>Trusted way of banking for 3,000+ SMEs and startups in Singapore</p>
            </div>
        </div>
        <ul class="sidebar">
            <router-link to="/"><li><span class="icon"> <img src="/assets/Home.svg"></span>Home</li></router-link>
            <router-link to="/cards"><li><span class="icon"> <img src="/assets/Card.svg"></span>Cards</li></router-link>
            <li><span class="icon"> <img src="/assets/Payments.svg"></span>Payments</li>
            <li><span class="icon"> <img src="/assets/Credit.svg"></span>Credit</li>
            <li><span class="icon"> <img src="/assets/Account.svg"></span>Settings</li>
        </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sidebar"
}
</script>